p {
  font-size: 18px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.blog-post-meta{
  text-align: center;
  font-size: 15px;
}

.blog-post{
  display: block;
  margin-left: auto;
  margin-right: auto;s
}

.container {
  margin-bottom: 50px;
}

.image_2 {
  margin-left: -100px;
}

#prototype_center {
  text-align: center;
}