body{
  background-image: http://www.hixie.ch/tests/adhoc/css/mozilla/opacity/black-0.5-0.0-h.png
}

img{
  margin-left: 100px;
  margin-bottom: 20px;
  width: 290px;
  height: 200px;
}

.text {
  margin-left: 450px;
}

body {
  width: 1000px;
}

.footer {
  display: inline-block;
  margin-left: 200px;
}

h1 {
  text-align: center;

}

h4 {
  font-size: 12px;
  float: right;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h5{
  text-align: center;
}

.navigation {
  width: 400px;
  margin-left: 50px;
}

hr {
  margin-left: 200px;
}

span {
  font-weight: bold;
}

ul{
  padding-left: 70px;
}
