body{
  background-image: http://www.hixie.ch/tests/adhoc/css/mozilla/opacity/black-0.5-0.0-h.png
}

img{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.text {
  margin-left: 200px;
}

body {
  width: 820px;
}

.footer {
  display: inline-block;
  margin-left: 200px;
}


h4 {
  font-size: 12px;
  float: right;
}

h3 {
  display: inline-block;
  width: 200px;
  text-align: center;
}

table {
  float: right;
  margin-top: 5px;
  margin-right: 90px;
  border: 1px solid gray;
}

td {
  border: 1px solid #B0C4DE;
}

hr {
  margin-left: 200px;
}

span {
  font-weight: bold;
}

