html {
  background-color: white;
}

h1{
  text-align: center;
  width:100%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  font-weight: 300;
  font-size: 85px;
  background-color: #F9F4E3;
  margin-top: 0px;
  margin-bottom: 0px;
  }

span{
text-shadow: 2px 1px black;
color: #46757E;
}

hr{
  border-style: groove;
}

h2{
  font-size: 45px;
  font-weight: 100;
  text-align: center;
  color: rgb(62, 150, 150);
  text-shadow: 1px 1px gray;
}

h3{
  font-family: Myanmar MN;
  text-align: center;
}


.left{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 200px;
  margin-top:50px;
  padding-left: 20px;
  padding-right: 20px;
}

.right{
  float: right;
  width: 25%;
  text-align: center;
  margin-right: 200px;
  margin-top: 50px;
}

#me{
  color: #46757E;
  margin-bottom: 27px;
  font-size: 15px;
  font-style: calibri;
  padding-left: 20px;
  padding-right: 20px;
  text-indent: 0px;
}

iframe {
  display: block;
  width: 560px;
  height: 315px;
  margin: 0 auto;
  border: 0;
  margin-bottom: 50px;
}

body{
  font-family: helvetica;
}

section{
  background-color: #F0F0F0 ;
}

p{
  font-family: avenir;
  text-indent: 20px;
}

.profile{
  margin-top: 20px;
}

ul{
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.date{
  text-align: center;
  color: rgb(108, 54, 54);
}

img{
  margin-top: 25px;
}

footer {
  clear: both;
  padding:30px; 
}