html {
  background-color: white;
}

h1{
  text-align: center;
  width:100%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  font-weight: 300;
  font-size: 85px;
  background-color: #FAFAFA;
  margin-top: 0px;
  margin-bottom: 0px;
  }

span{
text-shadow: 2px 1px black;
color: #46757E;
}

hr{
  border-style: groove;
}

h2{
  font-size: 45px;
  font-weight: 100;
  text-align: center;
  color: black;
  text-shadow: 1px 1px gray;
}


.left{
  float: left;
  width: 50%;
  text-align: left;
  margin-left: 100px;
  margin-top:50px;
}

.right{
  float: right;
  width: 30%;
  text-align: center;
  margin-right: 100px;
  margin-top: 50px;
}

#me{
  font-style: italic;
  color: #46757E;
  margin-bottom: 27px;
}

iframe {
    display: block;
    width: 560px;
    height: 315px;
    margin: 0 auto;
    border: 0;
    margin-bottom: 50px;
}



