img{
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 290px;
  height: 200px;
  border: 10px solid black;
}

.text {
  margin-left: 500px;
  margin-top: -150px;
  background-color: #F0F8FF;
  padding: 50px 50px 50px 50px;
  border: 2px solid gray;
  float: right;
  width: 800px;
}

body {
  width: 1350px;
  background-color: #F5F5F5
}

.footer {
  display: inline-block;
  margin-left: 200px;
}

.header{
  margin-top: -100px;
  margin-left: 500px;
  font-size: 25px;
}

h1 {
  text-align: center;
  font-family: Avenir;
}

h4 {
  font-size: 12px;
  float: right;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
  font-family: Athelas;
  font-size: 30px;
  border: 2px bold black;
}

h3 {
  text-align: center;
  font-family: Devanagari Sangam MN;
}

h5{
  text-align: center;
  font-size: 20px;
  color: rgb(15, 105, 126);
}

.navigation {
  width: 400px;
  margin-left: 50px;
  padding-right:25px; 
  padding-top: 25px;
}

span {
  font-weight: bold;
}

ul{
  padding-left: 70px;
  list-style-type: none;
  font-family: Bangla MN;
}

p{
  font-family: helvetica;
}

.content{
  width: 800px;
}

.image_1{
  width: 250px;
  margin-left: 275px;
}
.image_2{
  width: 800px;
  height: 265px;
  margin-left: 5px;
}

.image_3{
  width: 350px;
  height: 600px;
  margin-left: 225px;
}

.image_4{
  width: 650px;
  height: 500px;
  margin-left: 50px;
}


